@{
    ViewData["Title"] = "About";
}

<div class="row">
  <div class="col-sm-8">
      <h2>@ViewData["Title"]</h2>
      <h3>@ViewData["Message"]</h3>
      <address>
          Jalan Rereng Wulung Indah no. B2<br />
          Sukaluyu, Cibeunying Kaler, 40123<br />
          <abbr title="Phone">P:</abbr>
          (+62) 81933292950
      </address>

      <address>
          <strong>Email:</strong> <a href="mailto:raydreww@gmail.com">raydreww@gmail.com</a><br />
          <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/ray-andrew/">ray-andrew</a><br />
          <strong>Github:</strong> <a href="https://github.com/rayandrews">rayandrews</a>
      </address>
  </div>
  <div class="col-sm-4">
      <img src="~/images/044-min.JPG" class="img-fluid rounded" width="200" alt="Responsive image">
  </div>
</div>
